@import url('https://api.fontshare.com/v2/css?f[]=clash-display@700,600,500,400,300&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Nexa';
  src: url('/static/fonts/nexa/Nexa-ExtraLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('/static/fonts/nexa/Nexa-Heavy.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Tailwind v4 inline theme config */



@theme {
  --font-nexa: "Nexa", sans-serif;
  --font-clash: "Clash Display", sans-serif;
  --font-sans: "Poppins", sans-serif;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --color-primary: #368B3B;
  --color-faint: ##5F5F5F;
  --color-normal: #494949;
  --color-secondary:#F1F1F1;
  --color-orange-text:#FF9E37;
}

@theme animations {
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
  }

  /*soft pulse for glow effect*/
  @keyframes pulse-soft {
    0%, 100% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.6; transform: scale(1.1); }
  }

  /* Slow rotation for subtle movement */
  @keyframes rotate-slow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}


  /* my utility classes */
.animate-float {
    animation: float 4s ease-in-out infinite;
 }

  .animate-pulse-soft {
    animation: pulse-soft 3s ease-in-out infinite;
  }
  .tab-btn {
    @apply px-4 py-3 md:text-[18px] leading-[120%] font-bold bg-gray-200 rounded-xl  text-gray-800 font-medium transition flex-shrink-0;
  }
  .tab-btn:hover {
    @apply bg-primary text-white;
  }
  .tab-btn.active {
    @apply bg-primary text-white;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .animate-rotate-slow {
    animation: rotate-slow 10s linear infinite;
  }


/* ---------------- CUSTOM UTILITIES ---------------- */



body {
  @apply font-nexa text-gray-900 bg-[#FCFCFC];
}
section{
  @apply mb-15 md:mb-35 ;
}
.page-wrapper{
 @apply max-w-md md:max-w-screen-xl mx-auto sm:px-6 lg:px-8;
}

.powa-btn {
  @apply bg-primary text-white px-6 py-3 rounded-lg hover:bg-gradient-to-r from-green-500 to-emerald-700 hover:scale-105;
}

.text-fluid {
  @apply text-[min(10vw,70px)];
}

.fade-in {
  @apply opacity-0 translate-y-8 transition-all duration-1000 ease-in-out;
}

.visible-y {
  @apply opacity-100 translate-y-0;
}

.left-in {
  @apply opacity-0 translate-x-3 transition-all duration-1500 ease-in-out;
}

.visible-x {
  @apply opacity-100 translate-x-0;
}

.cust-section {
  @apply h-auto w-full my-15 text-center py-7;
}

/* ---------------- COMPONENTS ---------------- */
@layer components {
  .custom-checklist li {
    @apply relative pl-8;
  }
  .custom-checklist li::before {
    content: '';
    @apply absolute left-0 top-[0.35rem] w-5 h-5 bg-no-repeat bg-contain;
    background-image: url('/static/img/icons/black-tick.png');
  }
}

/* ---------------- ANIMATIONS ---------------- */
@keyframes slide {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-slide {
  display: inline-block;
  animation: slide 15s linear infinite;
  white-space: nowrap;
}

/* ---------------- CHOICES.JS CUSTOMIZATION ---------------- */
.choices__list--dropdown,
.choices__list[aria-expanded] {
  @apply bg-gray-200/90 border border-gray-300 rounded-lg;
}

.choices__item--choice {
  @apply bg-gray-300  hover:text-black;
}

.choices__inner {
  @apply w-full bg-gray-50 border border-gray-200 rounded-md px-3 py-2 text-black placeholder-[#CACACA] focus:border-b-green-500 focus:outline-none;
}

.choices__input {
  @apply text-black;
}