@import url('https://api.fontshare.com/v2/css?f[]=clash-display@700,600,500,400,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@import "tailwindcss";


/* Tailwind v4 inline theme config */



@theme {
  --font-clash: "Clash Display", sans-serif;
  --font-sans: "Poppins", sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --color-primary: #368B3B;
  --color-faint: #5F5F5F;
  --color-hovergreen: #41A747;
  --color-normal: #494949;
  --color-secondary:#F1F1F1;
  --color-orange-text:#FF9E37;
}

  .tab-btn {
    @apply px-4 py-3 md:text-[18px] leading-[120%] font-bold bg-gray-200 rounded-xl  text-gray-800 font-medium transition flex-shrink-0;
  }
  .tab-btn:hover {
    @apply bg-primary text-white;
  }
  .tab-btn.active {
    @apply bg-primary text-white;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .animate-rotate-slow {
    animation: rotate-slow 10s linear infinite;
  }



/* ---------------- CUSTOM UTILITIES ---------------- */



body {
  @apply font-montserrat text-gray-900 bg-[#FAFAFA];
}
section{
  @apply mb-15 md:mb-35 ;
}
.page-wrapper{
 @apply  max-md:px-[24px] md:px-[69px] mx-auto ;
}

.powa-btn {
  @apply bg-primary text-white px-6 py-3 rounded-lg hover:bg-hovergreen hover:scale-105;
}

.my-shadow{
  @apply border border-[#DFDFDF]/30 filter shadow-[0_4px_40px_#0000000D]
}

.text-fluid {
  @apply text-[min(10vw,70px)];
}


.visible-y {
  @apply opacity-100 translate-y-0;
}



.visible-x {
  @apply opacity-100 translate-x-0;
}

.cust-section {
  @apply h-auto w-full my-15 text-center py-7;
}

/* ---------------- COMPONENTS ---------------- */
@layer components {
  .custom-checklist li {
    @apply relative pl-9;
  }
  .custom-checklist li::before {
    content: '';
    @apply absolute left-0 w-6 h-6 bg-no-repeat bg-contain;
    background-image: url('/static/img/icons/white-tick.png');
  }
}

/* ---------------- ANIMATIONS ---------------- */
@keyframes slide {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-slide {
  display: inline-block;
  animation: slide 15s linear infinite;
  white-space: nowrap;
}

/* ---------------- CHOICES.JS CUSTOMIZATION ---------------- */
.choices__list--dropdown,
.choices__list[aria-expanded] {
  @apply bg-gray-200/90 border border-gray-300 rounded-lg;
}

.choices__item--choice {
  @apply bg-gray-300  hover:text-black;
}

.choices__inner {
  @apply w-full bg-gray-50 border border-gray-200 rounded-md px-3 py-2 text-black placeholder-[#CACACA] focus:border-b-green-500 focus:outline-none;
}

.choices__input {
  @apply text-black;
}