<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About POWA</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/powa-favicon.ico') }}">

  <link href="static/css/style.css" rel="stylesheet">
</head>
<body class="">

{% include 'header.html' %}
  <div class="page-wrapper">

    <section class=" grid grid-cols-1 md:grid-cols-2 md:h-[558px] items-center gap-y-12 gap-6 ">

      <div class="space-y-7">
        <h1 class="text-[36px] md:text-[48px] leading-[140%] font-bold text-black">
          We transform <span class="text-primary">Brands</span>,<br />
          Build Tech Talents
        </h1>

        <p class="text-[#494949] text-[16px] md:text-[18px] leading-[200%] mx-auto">
          At POWA, we blend digital innovation with tech education, helping
          businesses scale and individuals upskill. Together, we power growth that lasts.
        </p>

        <a href="{{ url_for ('controller.register') }}" class="powa-btn transition-all">
          Enroll now
        </a>
      </div>

      <div class="relative max-md:w-[330px] max-md:h-[282px]  md:h-full rounded-[12px] overflow-visible">
  <!-- Star behind -->
          <img loading="lazy"
               class="absolute top-[-10%] right-[-10%] w-[30%] h-auto z-0"
               src="{{ url_for('static', filename='img/star.png') }}"
               alt="Star">

          <!-- Main image on top -->
          <img loading="lazy"
               class="w-full h-full object-cover rounded-[12px] relative z-10"
               src="{{ url_for('static', filename='img/about1.jpg') }}"
               alt="About Image">
      </div>
    </section>


    <section class=" gap-15 md:h-148 grid grid-cols-1 md:grid-cols-2 md:items-center md:gap-17 ">

        <div class="relative max-md:w-[330px] max-md:h-[282px] md:order-1 order-2  md:h-full rounded-[12px] overflow-visible">
  <!-- dots behind -->
          <img loading="lazy"
               class="absolute top-[-10%] left-[-10%] w-[40%] h-auto z-0"
               src="{{ url_for('static', filename='img/green-dot-up.png') }}"
               alt="powa-dots">

          <!-- Main image on top -->
          <img loading="lazy"
               class="w-full h-full object-cover rounded-[12px] relative z-10"
               src="{{ url_for('static', filename='img/about2.jpg') }}"
               alt="About Image">
        </div>

        <div class="  space-y-7 order-1 md:order-2" >
            <h1 class="md:text-[40px] text-[24px] font-semibold text-black font-clash">
              Who we are
            </h1>

            <p class="text-black text-[16px]  md:text-[18px] mx-auto leading-[258%]">
              We are a trusted virtual tech academy and digital agency empowering Africans with in-demand tech and digital skills. Our programs help individuals transition into tech and upgrade their skills.
              Through project based training and access to thousands of remote job opportunities, we help Africans land top tech roles, build careers, and turn their skills into income.
            </p>
        </div>
    </section>
  </div>


    <section class="h-auto p-5 w-full text-black md:h-[355px] bg-green-50 ">
         <div class="page-wrapper space-y-[16px]">

           <h1 class="font-clash text-[21.2px] font-bold md:text-[40px] ">
                What we do
           </h1>
           <div class="w-full grid grid-col md:grid-cols-2 items-center justify-between gap-12">

              <div class=" " >
                <p class="md:text-[18px] text-[16px] leading-[200%]">We build brands, create digital platforms, and train the next wave of tech talent.<br />
                  With <strong>20+ expert-led courses,</strong>  we equip you with the skills and tools to launch, grow, and lead—without limits.
                </p>
              </div>

              <div class="md:pl-10 space-y-[8px] md:text-[24px] text-[16px] leading-[242%] font-bold items-center ">
                <p class="flex items-center flex-row gap-4">
                  <img src="{{ url_for('static', filename='img/icons/white-tick.png') }}">
                  In-demand tech skill courses
                </p>
                <p class="flex items-center flex-row gap-4">
                  <img src="{{ url_for('static', filename='img/icons/white-tick.png') }}">
                  Easy to understand curriculum
                </p>
                <p class="flex items-center flex-row gap-4">
                  <img src="{{ url_for('static', filename='img/icons/white-tick.png') }}">
                  Experienced tutors
                </p>
              </div>
           </div>
         </div>
    </section>

<div class="page-wrapper">

    <section class="text-center">
      <div class="page-wrapper w-full">
        <div class="text-[24px] mb-7 mx-auto w-[281px] md:w-[396px] h-[64px] md:text-[40px] leading-[48px] border border-dotted border-primary py-1 font-semibold font-clash">Why Choose Us</div>
        <p class="text-[16px] leading-[30px] font-bold text-gray-900/60 md:text-[20px] md:leading-[37px]">Because you deserve more than average, and we deliver excellence every time.</p>
      </div>

      <div class="md:mx-15 grid grid-cols-1 md:grid-cols-2 md:divide-x md:divide-y divide-gray-300 rounded-xl overflow-hidden">

      <!-- Box 1 -->
          <div class="p-10 flex flex-col items-center text-center">
            <div class="bg-orange-50 p-4 rounded-2xl mb-4">
              <img src="{{ url_for('static', filename='img/icons/wy1.png') }}" class="h-[24.5px] w-[24.5px] mx-auto" alt="Powa merits icon">
            </div>
            <h3 class="font-semibold text-[18px] md:text-lg mb-2">Learn skills that pay</h3>
            <p class="md:w-2/3 text-gray-600 text-[16px] leading-[26px]">
              Gain practical, job-ready skills that give you an edge early in the global marketplace.
            </p>
          </div>

          <!-- Box 2 -->
          <div class="p-10 flex flex-col items-center text-center">
            <div class="bg-orange-50 p-4 rounded-2xl mb-4">
              <img src="{{ url_for('static', filename='img/icons/wy2.png') }}" class="h-[24.5px] w-[24.5px] mx-auto" alt="Powa merits icon">
            </div>
            <h3 class="font-semibold text-[18px] md:text-lg mb-2">Expert training. Mentorship. Community.</h3>
            <p class="md:w-2/3 text-gray-600 text-[16px] leading-[26px]">
              Learn from experts, get real-time mentorship, and build skills with a supportive community.
            </p>
          </div>

          <!-- Box 3 -->
          <div class="p-10 flex flex-col items-center text-center">
            <div class="bg-orange-50 p-4 rounded-2xl mb-4">
              <img src="{{ url_for('static', filename='img/icons/wy3.png') }}" class="h-[24.5px] w-[24.5px] mx-auto" alt="Powa merits icon">
            </div>
            <h3 class="font-semibold text-[18px] md:text-lg mb-2">Build a portfolio that stands out</h3>
            <p class="md:w-2/3  text-gray-600 text-[16px] leading-[26px]">
              Work on hands-on projects and internship experiences that help you showcase your skills with confidence.
            </p>
          </div>

          <!-- Box 4 -->
          <div class="p-10 flex flex-col items-center text-center">
            <div class="bg-orange-50 p-4 rounded-2xl mb-4">
              <img src="{{ url_for('static', filename='img/icons/wy4.png') }}" class="h-[24.5px] w-[24.5px] mx-auto" alt="Powa merits icon">
            </div>
            <h3 class="font-semibold text-[18px] md:text-lg mb-2">Land remote jobs</h3>
            <p class="md:w-2/3 text-gray-600 text-[16px] leading-[26px]">
              Discover how to access global freelance and remote opportunities with step-by-step guidance from POWA.
            </p>
          </div>
    </div>
    </section>



  <section class="text-center space-y-[24px] md:space-y-[32px]">
      <div class="">
        <h1 class=" mb-7 text-[24px] md:text-[40px] md:leading-[48px]  font-semibold font-clash">Meet the Team</h1>
        <p class="md:mx-20 text-[16px] leading-[30px] md:text-[20px] md:leading-[37px]">Tech experts and creative problem-solvers who don't just build digital solutions, we teach you how to build them too.</p>
      </div>

      <div class="md:h-148 mt-5 grid grid-cols-1 md:grid-cols-2 items-center justify-between gap-10 ">

          <div class=" space-y-7 text-left">
              <h1 class="md:text-[40px] text-[21.2px] leading-[152%] font-semibold  text-black font-clash">
                Ann Ben
              </h1>
              <p class="md:text-[16px] text-[14px] text-black/60 font-bold leading-[120%]">Founder & CEO</p>

              <p class="text-black text-[14px] md:text-[18px] mx-auto leading-[258%]">
                Ann is an entrepreneur and marketing strategist who has helped countless students turn their digital skills into successful careers. Passionate about quality tech education and empowerment, she is dedicated to closing the digital skills gap in Africa.
              </p>
          </div>

          <div class=" relative ">
              <img loading="lazy" class="h-full rounded-xl max-md:h-[387px] max-md:w-full z-10" src="{{ url_for('static', filename='img/annben.png') }}">
          </div>
      </div>

      <div class="mt-15 pt-10 space-y-4 grid grid-cols-1 md:grid-cols-3 gap-5 ">
          {% for staff in team %}
            <div class="text-left px-5 py-6 bg-white rounded-lg shadow-sm ">
                <img src="{{ url_for('static', filename='img/' + staff.img) }}" class=" pb-3 max-md:h-[238px] w-full rounded-lg md:h-[291px]" >
                <div class="space-y-[13.7px]">
                    <h4 class="md:text-[18px]  leading-[120%] text-[16px] font-bold" >{{staff.name}}</h4>
                    <p class="md:text-[16px] text-black text-[14px] leading-[120%]">{{staff.field}}</p>
                    <p class="md:text-[14px] text-[11.5px] leading-[24px] md:leading-[30px]">{{staff.portfolio}}</p>
                </div>
            </div>
          {% endfor %}
      </div>
  </section>

    {% include 'cta.html' %}


  </div>


  {% include 'footer.html' %}



</body>
</html>