<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Powa | {{ course.title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/powa-favicon.ico') }}">
</head>
<body>
    <div class="page-wrapper">
    {% include 'header.html' %}
    </div>

    <section class="md:h-[295px] h-[116px] bg-black text-white flex items-center justify-center">

            <h1 class="md:text-[36px] text-[16px] font-bold font-clash">{{ course.title}}</h1>

    </section>

    <div class="page-wrapper">

        <section class="md:space-y-6 ">
            <h1 class="font-bold text-[24px] leading-[48px] font-clash md:text-[40px]">About the course</h1>
            <p class="leading-[40px] text-[16px] md:text-[18px]">{{course.about | replace('\n', '<br>') | safe}}</p>
        </section>

        <section class="space-y-4">
            <h1 class="font-bold text-[24px] leading-[48px] font-clash md:text-[40px]">Who the course is for?</h1>
            <ul class=" text-left space-y-[16px] p-2 custom-checklist">
            {% for b in course.beneficiaries %}
            <li class="md:text-[18px] text-[16px]">{{b}}</li>
            {% endfor %}
          </ul>
        </section>

        <section class="space-y-4 ">
            <h1 class="font-bold text-[24px] leading-[48px] font-clash md:text-[40px]">What you will learn</h1>
            <p class="md:text-[20px] text-[16px] leading-[30px]">On completion of this course, you will be able to:</p>
            <ul class="text-left md:text-[18px] text-[16px] leading-[47px] p-2 px-2 list-disc pl-8">
                {% for b in course.course_benefits %}
            <li class="md:leading-[50px]">{{b}}</li>
              {% endfor %}
            </ul>
        </section>

        <section class=" space-y-4">
            <h1 class="font-bold text-[24px] leading-[48px] font-clash md:text-[40px]">Course outline</h1>
            <p class="md:text-[20px] text-[16px] leading-[30px]">Overview of course segments</p>

            <ul class="text-left md:text-[18px] leading-[40px] text-[14px] p-2 px-2 list-disc pl-8">
              {% for c in course.course_outline %}
            <li class=" md:leading-[50px]">{{c | replace('\n', '<br>') | safe}}</li>
            {% endfor %}
            </ul>

        </section>

        <section class="text-left">
            <div class=" space-y-4 grid grid-cols-1 md:grid-cols-3 gap-2 md:text-[14px]">
                <div class="md:space-y-[25px]">
                    <h2 class="font-bold font-clash text-[24px] md:text-[28px]">Tools and Requirements</h2>
                    <ul class=" text-left md:text-[16px] text-[14px] p-2 px-2 list-disc pl-8">
                        {% for r in course.requirements %}
                        <li class="leading-[41px]">  {{r}}</li>
                      {% endfor %}
                    </ul>
                </div>

                <div class="md:space-y-[25px]">
                    <h2 class="font-bold font-clash text-[24px] md:text-[28px]">Duration and Access</h2>
                    <ul class="leading-[41px] text-left md:text-[16px] text-[14px] p-2 px-2 list-disc pl-8">

                        <li class=""><strong>Course duration: </strong>{{course.duration}} </li>
                        <li class=""><strong>Time Commitment: </strong>{{course.time_commitment}} </li>
                        <li class=""><strong>Class: </strong>Live classes </li>
                        <li class=""><strong>Access: </strong>Access to class links, resources  </li>

                    </ul>
                </div>

                <div class="md:space-y-[25px] space-y-4">
                    <h2 class="font-bold font-clash text-[24px] md:text-[28px]">Tuition</h2>
                    <p class="text-[15px] md:text-[16px] leading-[41.5-px] ">For full access to this course, you will be paying</p>
                    <ul class="text-[15px] md:text-[16px] leading-[41.5px] text-left p-2 px-2 list-disc pl-8">

                        <li class=" text-primary font-bold">&#8358;{{course.full_price}} </li>
                        <li class="">installment option available upon registration </li>
                        <li class="">(&#8358;{{course.part_payment}} on registration)  ( balance due in week 2) </li>
                        <li class="">Live session schedule is activated after your first payment</li>

                    </ul>
                </div>

            </div>
        </section>

        <section class="text-left text-black text-left space-y-4">
            <div class="space-y-4 mb-10 text-left md:text-center">
                <h1 class=" font-bold text-[24px] leading-[120%] font-clash md:text-[40px]">Benefits of learning with us</h1>
                <p class="text-[16px] md:text-[20px] leading-[37px]">Here’s why hundreds of students choose to build their tech<br>careers with us.</p>
            </div>

            <ul class="text-[16px] md:text-[18px] leading-[246%] mx-auto justify-between text-left p-2 list-disc pl-5 md:grid md:grid-cols-2 gap-8">
                    <li>Learn in-demand, marketable skills from industry experts.</li>
                    <li>Gain hands-on, project-based experience you can apply immediately.</li>
                    <li>Earn a recognized certificate to validate your expertise.</li>
                    <li>Enjoy 100% online, flexible learning with weekly live sessions.</li>
                    <li>Build a strong portfolio through practical assignments and internship opportunities.</li>
                    <li>Access exclusive remote and freelance job boards with career support.</li>
                    <li>Get personalized mentorship, resume optimization, and interview guidance</li>
                    <li>Join a vibrant global community with lifelong access to course updates and alumni referrals.</li>
            </ul>

        </section>
        {% include 'cta.html' %}

    </div>
    {% include 'footer.html' %}

</body>
</html>