

    <section class="space-y-[20px] " id="faq">

        <h1 class="text-[24px] md:text-[40px] text-[#101010] font-semibold font-clash text-center mb-[16px]">Frequently asked questions</h1>
        <p class="max-md:mx-12 mb-10 text-[16px] md:text-[20px] text-[#101010] text-center ">Got questions? We’ve answered the most common ones below</p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-[24px] justify-between mt-[20px] md:gap-12 ">
        {% for key, value in faq_data.items() %}
             {% if key.strip() and value.strip() %}

          <div class="md:border-b-[0.5px] border-b-[0.28px] border-b-[#B3E1B5]/50">

            <button
              class="faq-btn max-md:text-[12px] w-full px-2 py-4 flex justify-between gap-4 bg-white items-center text-left transition-all"
              onclick="toggleAccordion(this)" aria-expanded="false">
              <span class="text-gray-800 font-semibold">{{key}}</span>
              <div class="ml-4 faq-icon relative w-4 h-4 flex-shrink-0">
                <img src="{{ url_for('static', filename='img/icons/plus.png') }}" alt="" class="plus absolute inset-0 w-full h-full transition-all duration-300" />
                <img src="{{ url_for('static', filename='img/icons/minus.png') }}" alt="" class="minus absolute inset-0 w-full h-full transition-all duration-300 hidden" />
              </div>
            </button>

            <div
              class="faq-content text-gray-700 rounded-lg px-4 overflow-hidden transition-all duration-500 ease-in-out max-h-0 opacity-0">
              <p class="py-4 max-md:text-[12px]">
                 {{value}}
              </p>
            </div>
          </div>
             {% endif %}
        {% endfor %}
        </div>
    </section>


<script>
    function toggleAccordion(button) {
    // Find the panel & icon related to the clicked button
    const wrapper = button.closest('div'); // the immediate question wrapper
    const content = wrapper.querySelector('.faq-content');
    const icon = button.querySelector('.faq-icon');
    const plus = icon.querySelector('.plus');
    const minus = icon.querySelector('.minus');

    const isOpen = content.classList.contains('max-h-[1000px]');

    // Close all other panels (accordion behavior)
    document.querySelectorAll('.faq-content').forEach(el => {
      el.classList.remove('max-h-[1000px]', 'opacity-100');
      el.classList.add('max-h-0', 'opacity-0');
    });

    document.querySelectorAll('.faq-icon').forEach(wrapper => {
        wrapper.querySelector('.plus').classList.remove('hidden');
        wrapper.querySelector('.minus').classList.add('hidden');
    });

    // toggle the clicked one
     if (!isOpen) {
        content.classList.remove('max-h-0', 'opacity-0');
        content.classList.add('max-h-[1000px]', 'opacity-100');
        plus.classList.add('hidden');
        minus.classList.remove('hidden');
    }
  }
  </script>