<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POWA | Registration Successful</title>
-
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/powa-favicon.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.2/lottie.min.js"></script>
</head>
<body class=" bg-gray-50 flex items-center justify-center min-h-screen">

  <main class="bg-white space-y-3 shadow-md rounded-2xl p-8 max-w-md text-center">
    <div id="successAnimation" class="w-28 h-28 mx-auto mb-4" role="img" aria-label="Success animation"></div>

    <h1 class="text-2xl font-bold text-green-600 mb-2">🎉 Registration Successful!</h1>

    <p class="text-gray-700 mb-2">
      Hi <span class="font-semibold">{{ user.fullname }}</span>,
    </p>

    <p class="text-gray-700 mb-4">
      Your Application for <span class="font-semibold">{{ course.title }}</span> has been received.
    </p>

    <div class="text-left">
      <p class=" mb-4">
      Proceed to Check your email <span class="font-semibold">{{ user.email }}</span> for the next step.
    </p>
    <p>Check your spam folder if message delayed.</p>
    </div>


    <a
    href="{{ url_for('controller.make_payment', slug=course.slug, email=user.email) }}"
    class="mb-4 bg-primary text-white px-3 py-1 rounded-xl hover:bg-green-500"
    >
      Pay Online (₦{{ course.full_price }})
    </a>

    <div class=" p-2 text-left space-y-4 bg-gray-300">

      <a>Alternatively, Make payment to </a>
      <p>Account Name: <strong>THE TECH POWA LTD</strong></p>
      <p>Account Number: <strong>0127083533</strong></p>
      <p>Bank: <strong>Wema Bank Plc</strong></p>
      <p>send your proof of payment to  whatsapp <a class="bg-primary text-white px-3 py-1 rounded-xl hover:bg-green-500 border-b-1" href="https://wa.me/2348141713547" target="_blank"> 08141713547 </a> </p>

    </div>


    <a href="{{ url_for('controller.home') }}" class="block mt-4 text-sm text-gray-700 hover:text-green-600">Back to Home</a>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      lottie.loadAnimation({
        container: document.getElementById('successAnimation'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'https://assets10.lottiefiles.com/packages/lf20_touohxv0.json'
      });
    });
  </script>
</body>
</html>