<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms of service</title>
    <link href="static/css/style.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/powa-favicon.ico') }}">
</head>
<body>
<div class="page-wrapper ">
    {% include 'header.html' %}
    <h1 class="md:text-[48px] leading-[120%] font-bold text-center mb-[42px]">Terms of service</h1>
    <div class="">
        <div class="leading-[142%] space-y-6">
            <strong class="">Introduction</strong>
            <p>By accessing or using our website, courses, or digital services, you agree to these Terms of Service. If you do not agree, please do not use our services.</p>
        </div>
        <div>
            <strong class="">Services</strong>
            <p>POWA provides:</p>
            <p>1.   Online skills training and mentorship for individuals seeking tech and digital skills</p>
            <p>2.   Digital agency services, including web development, branding, and marketing solutions for businesses and individuals.</p>
        </div>
        <div>
            <strong class="">𝗨𝘀𝗲𝗿 𝗥𝗲𝘀𝗽𝗼𝗻𝘀𝗶𝗯𝗶𝗹𝗶𝘁𝗶𝗲𝘀</strong>
            <p>1.   Users must provide accurate and up-to-date information when registering or using our services.</p>
            <p>2.   Users must not engage in any activity that disrupts the platform, infringes on intellectual property, or violates any applicable law.</p>
            <p>3.   Users are responsible for maintaining the confidentiality of their account credentials</p>
        </div>
        <div>
            <strong class="">𝗣𝗮𝘆𝗺𝗲𝗻𝘁𝘀 𝗮𝗻𝗱 𝗥𝗲𝗳𝘂𝗻𝗱𝘀</strong>
                <p>Payment terms for each course are clearly stated on the respective program page.
                <p>Students may switch to another course of the same fee before classes begin, subject to availability.
                <p>After the first week of classes, no refunds will be issued under any circumstances.
                Students who have not resumed classes within one week after the program begins may request to put their admission on hold and defer to the next available session.
                All payments made are final and non-transferable beyond the deferment window stated above.
            1.   Users must provide accurate and up-to-date information when registering or using our services.</p>
            2.   Users must not engage in any activity that disrupts the platform, infringes on intellectual property, or violates any applicable law.</p>
            3.   Users are responsible for maintaining the confidentiality of their account credentials</p>
        </div>
</div>
</div>
</body>
</html>